.overlay-dark{
    background-color: rgba(0, 0, 0, 0.5);
}

.link-secondary:hover{
    color: dodgerblue;
}

.dark-blue{
    background-color: #0f3c6d;
}

.img-wish{
    max-width: 100px;
    padding: 5px;
}

.list-wishes{
    flex-direction: row;
}

.card-text, .card-title, .text-dark-blue, .pagination-active{
    color : #0f3c6d;
}

.wish-detail-img{
    max-height: 200px;
}

.page-inactive{
    background-color: #f8f9fa;
    color: #0f3c6d;
}

/* Form */
form label{
    margin: 0.5em auto auto;
    color: #0f3c6d;
}

form .form-error-icon{
    display: none;
}