.overlay-dark{
    background-color: rgba(0, 0, 0, 0.5);
}

.link-secondary:hover{
    color: dodgerblue;
}

.dark-blue{
    background-color: #0f3c6d;
}

.img-wish{
    max-width: 100px;
    padding: 5px;
}

.list-wishes{
    flex-direction: row;
    max-height: 150px;
}

.card-text, .card-title, .text-dark-blue{
    color : #0f3c6d;
}

.wish-detail-img{
    max-height: 200px;
}