{% extends 'base.html.twig' %}

{% block title  %}Wishes{{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des voeux <i class="bi bi-stars"></i></h1>

        <div class="col">
            <div class="card list-wishes">
                <div class="bd-placeholder-img">
                    <img src="{{ asset('img/wish.jpg') }}" alt="look up to the stars" class="img-wish rounded float-start">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Richesse</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card list-wishes">
                <div class="bd-placeholder-img">
                    <img src="{{ asset('img/wish.jpg') }}" alt="look up to the stars" class="img-wish rounded float-start">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bonheur</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card list-wishes">
                <div class="bd-placeholder-img">
                    <img src="{{ asset('img/wish.jpg') }}" alt="look up to the stars" class="img-wish rounded float-start">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Santé</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}